body {
  padding: 0;
  margin: 0;
  background-image: url("http://sabrinamarkon.com/images/nebula.jpg");
  transition: 0s linear;
  transition-property: background-position; }

.fixed-bg {
  padding: 2em 0; }

.fixed-bg1 {
  background-image: url("http://sabrinamarkon.com/images/SabrinaBCMask03.png");
  min-height: 920px; }

.fixed-bg2 {
  background-image: url("http://sabrinamarkon.com/images/MeBigBackground.jpg");
  min-height: 1000px; }

.fixed-bg3 {
  min-height: 240px; }
  .fixed-bg3 .spreadcards {
    display: flex;
    justify-content: center; }
  .fixed-bg3 .card {
    box-shadow: 1px 1px 2px #000;
    margin: 2em;
    margin-bottom: 0;
    display: inline-block;
    min-width: 75px;
    max-width: 330px; }
    .fixed-bg3 .card:hover {
      box-shadow: -1px -1px 1px #000; }
    .fixed-bg3 .card .card-img-top {
      width: 100%;
      height: auto; }
    .fixed-bg3 .card .card-block .card-title {
      padding-bottom: 0; }
  .fixed-bg3 .school {
    margin: 1em;
    display: inline-block;
    max-width: 180px; }
    .fixed-bg3 .school img {
      width: 100%;
      height: auto;
      box-shadow: 1px 1px 2px #000;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      .fixed-bg3 .school img:hover {
        box-shadow: -1px -1px 1px #000; }

h1 {
  color: #fff;
  font-size: 7em;
  line-height: 1.1;
  text-align: center;
  opacity: 0.8;
  font-family: "Cinzel", serif;
  font-weight: 400;
  text-shadow: 2px 2px 2px #000; }

h2 {
  font-size: 1.5em;
  text-shadow: 1px 1px 2px #000; }
  h2 .fa {
    padding-top: 20px;
    color: #fff;
    text-decoration: none; }
  h2 .fa:hover {
    color: #ffffb3; }

.sectiontitle {
  color: #fff;
  font-size: 4em;
  line-height: 1.1;
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: 400;
  text-shadow: 2px 2px 2px #000;
  margin-top: 0.3em;
  margin-bottom: 0.3em; }

.overlay .text-container {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5%;
  font-family: "Cinzel", serif;
  color: #fff; }

.hamburger {
  cursor: pointer;
  margin-right: 10px; }
  .hamburger .bar1, .hamburger .bar2, .hamburger .bar3 {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s; }
    .hamburger .bar1:hover, .hamburger .bar2:hover, .hamburger .bar3:hover {
      background: #ffffb3; }
  .hamburger .bar1 {
    margin-top: 11px; }

.nav {
  background: #937176;
  height: 40px;
  opacity: 0.9;
  box-shadow: 1px 1px 2px #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em; }
  .nav ul {
    display: inline-block;
    width: 100%;
    text-align: center; }
    .nav ul li {
      display: inline-block;
      line-height: 40px;
      padding-left: 2em;
      padding-right: 2em;
      text-align: center; }
      .nav ul li a {
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 1px 2px #000; }
        .nav ul li a:hover {
          color: #ffffb3; }

.navmobile {
  display: none;
  background: #937176;
  box-shadow: 1px 1px 2px #000;
  position: fixed;
  top: 42px;
  right: 0;
  width: 180px;
  z-index: 1000;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em; }
  .navmobile ul {
    width: 10%;
    text-align: center; }
    .navmobile ul li {
      display: block;
      line-height: 40px;
      text-align: center; }
      .navmobile ul li a {
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 1px 2px #000; }
        .navmobile ul li a:hover {
          color: #ffffb3; }

.lemon {
  background: #ffffb3;
  min-height: 200px;
  box-shadow: 1px 1px 2px #000;
  color: #614148;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  line-height: 1.4em;
  opacity: 0.7;
  padding: 1.4em; }
  .lemon p {
    margin: 0.2em; }
  .lemon img {
    max-width: 100%;
    height: auto; }

.contactform {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  margin-bottom: 1.0em; }
  .contactform .form-control {
    color: #614148;
    background: #ffffb3;
    box-shadow: -1px -1px 1px #000;
    opacity: 0.9; }
  .contactform .btn-custom {
    color: #fff;
    background: #937176;
    box-shadow: 1px 1px 2px #000; }
    .contactform .btn-custom:hover {
      color: #ffffb3;
      box-shadow: -1px -1px 1px #000; }

.show {
  font-family: "Raleway", sans-serif;
  padding-top: 0.4em; }

@media (min-width: 200px) {
  h1 {
    font-size: 4em; }

  p, label {
    font-size: 50%; }

  .show {
    font-size: 60%; }

  body, .fixed-bg {
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto; }

  .hamburger {
    visibility: visible; }

  .navlink {
    visibility: hidden; } }
@media (min-width: 728px) {
  h1 {
    font-size: 5em; }

  p, label {
    font-size: 60%; }

  .navmobile, .hamburger {
    visibility: hidden; }

  .navlink {
    visibility: visible; } }
@media (min-width: 800px) {
  h1 {
    font-size: 6em; } }
@media (min-width: 900px) {
  h1 {
    font-size: 6em; }

  p, label, .show {
    font-size: 80%; }

  body, .fixed-bg {
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-attachment: fixed; }
    body:not(.fixed-bg1), .fixed-bg:not(.fixed-bg1) {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }
@media (min-width: 1000px) {
  h1 {
    font-size: 7em; } }
@media (min-width: 1100px) {
  h1 {
    font-size: 7em; } }

/*# sourceMappingURL=styles.css.map */
