$elementshadow : 1px 1px 2px #000;
$elementshadowhover : -1px -1px 1px #000;
$fontheadings : 'Cinzel', serif;
$fontbody : 'Raleway', sans-serif;
$fontshadow : 2px 2px 2px #000;

body {
  padding:0; margin:0;
  background-image: url('http://sabrinamarkon.com/images/nebula.jpg');
  transition: 0s linear;
  transition-property: background-position;
}
.fixed-bg {
  padding: 2em 0;
}
.fixed-bg1 {
  background-image: url('http://sabrinamarkon.com/images/SabrinaBCMask03.png');
  min-height: 920px;
}
.fixed-bg2 {
  background-image: url('http://sabrinamarkon.com/images/MeBigBackground.jpg');
  min-height: 1000px;
}
.fixed-bg3 {
  min-height: 240px;
  .spreadcards {
    display: flex;
    justify-content: center;
  }
  .card {
    box-shadow: $elementshadow;
    margin: 2em;
    margin-bottom: 0;
    display: inline-block;
    min-width: 75px;
    max-width: 330px;
    &:hover {
      box-shadow: $elementshadowhover;
    }
    .card-img-top {
      width:100%;
      height:auto;
    }
    .card-block {
      .card-title {
        padding-bottom: 0;
      }
    }
  }
  .school {
    margin: 1em;
    display: inline-block;
    //width: 15%;
    max-width: 180px;
    img {
      width: 100%;
      height: auto;
      box-shadow: $elementshadow;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      &:hover {
        box-shadow: $elementshadowhover;
      }
    }
  }
}
h1 {
  color: #fff;
  font-size: 7em;
  line-height: 1.1;
  text-align: center;
  opacity: 0.8;
  font-family: $fontheadings;
  font-weight: 400;
  text-shadow: $fontshadow;
}
h2 {
  font-size: 1.5em;
  text-shadow: $elementshadow;
  .fa {
    padding-top: 20px;
    color: #fff;
    text-decoration: none;
  }
  .fa:hover {
    color: #ffffb3;
  }
}
.sectiontitle {
  color: #fff;
  font-size: 4em;
  line-height: 1.1;
  text-align: center;
  font-family: $fontheadings;
  font-weight: 400;
  text-shadow: $fontshadow;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.overlay .text-container{
  width:100%;
  text-align:center;
  position: absolute;
  bottom: 5%;
  font-family: $fontheadings;
  color: #fff;
}
.hamburger {
  cursor: pointer;
  margin-right: 10px;
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    &:hover {
      background: #ffffb3;
    }
  }
  .bar1 {
    margin-top: 11px;
  }
}
.nav {
  background: #937176;
  height: 40px;
  opacity: 0.9;
  box-shadow: $elementshadow;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: $fontbody;
  font-size: 1.2em;
  ul {
    display: inline-block;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      line-height: 40px;
      padding-left: 2em;
      padding-right: 2em;
      text-align: center;
      a {
        color: #fff;
        text-decoration: none;
        text-shadow: $elementshadow;
        &:hover {
          color: #ffffb3;
        }
      }
    }
  }
}
.navmobile {
  display: none;
  background: #937176;
  box-shadow: $elementshadow;
  position: fixed;
  top: 42px;
  right: 0;
  width: 180px;
  z-index: 1000;
  font-family: $fontbody;
  font-size: 1.2em;
  ul {
    width: 10%;
    text-align: center;
    li {
      display: block;
      line-height: 40px;
      text-align: center;
      a {
        color: #fff;
        text-decoration: none;
        text-shadow: $elementshadow;
        &:hover {
          color: #ffffb3;
        }
      }
    }
  }
}
.lemon {
  background: #ffffb3;
  min-height: 200px;
  box-shadow: $elementshadow;
  color: #614148;
  font-family: $fontbody;
  font-size: 2em;
  line-height: 1.4em;
  opacity: 0.7;
  padding: 1.4em;
  p {
    margin: 0.2em;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
.contactform {
  color: #fff;
  font-family: $fontbody;
  font-size: 2em;
  margin-bottom: 1.0em;
  .form-control {
    color: #614148;
    background: #ffffb3;
    box-shadow: $elementshadowhover;
    opacity: 0.9;
  }
  .btn-custom {
    color: #fff;
    background: #937176;
    box-shadow: $elementshadow;
    &:hover {
      color: #ffffb3;
      box-shadow: $elementshadowhover;
    }
  }
}
.show {
  font-family: $fontbody;
  padding-top: 0.4em;
}

@media (min-width:200px)
{
  h1 {
    font-size: 4em;
  }
  p, label {
    font-size: 50%;
  }
  .show {
    font-size: 60%;
  }
  body, .fixed-bg {
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
  }
  .hamburger {
    visibility: visible;
  }
  .navlink {
    visibility: hidden;
  }
}
@media (min-width:728px)
{
  h1 {
    font-size: 5em;
  }
  p, label {
    font-size: 60%;
  }
  .navmobile, .hamburger {
    visibility: hidden;
  }
  .navlink {
    visibility: visible;
  }
}
@media (min-width:800px)
{
  h1 {
    font-size: 6em;
  }
}
@media (min-width:900px)
{
  h1 {
    font-size: 6em;
  }
  p, label, .show {
    font-size: 80%;
  }
  body, .fixed-bg {
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-attachment: fixed;
    &:not(.fixed-bg1) {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
}
@media (min-width:1000px)
{
  h1 {
    font-size: 7em;
  }
}
@media (min-width:1100px)
{
  h1 {
    font-size: 7em;
  }
}
